@charset "utf-8";
/* CSS Document */

html{
    height:100%;
}
body {
    background-image: linear-gradient(#6FA7AA, #6E7832);
}
img {
    padding: 0;
    border: 7px solid #6E7832;
}
#image {
    padding-top:5%;
    text-align: center;
}